<header>
  <img [src]="imageHero" alt="imagen de portada de la web"/>
  <div class="contentText container">
    <h1 class="display-1">PRo Location</h1>
    <h1 class="h3">Geolocaliza tus flotas de vehículos con PRoLocation. <br />Control en tiempo real, optimiza rutas, reduce costos
      operativos y mejora la eficiencia de tu negocio. <br /><b>Únete hoy y lleva tu empresa al siguiente nivel.</b></h1>
    <a href="#contactComponent" class="btn btn-lg btn-primary">Contactar</a>
  </div>
</header>
