<aside>

  <!-- CABECERA -->

  <header>
    <h4>Tus Vehículos</h4>
  </header>

  <!-- LISTADO DE VEHÍCULOS -->

  <div>
    <ul id="vehicleList" *ngIf="showVehiclesList; else noVehicles">
      <li *ngFor="let vehicle of vehicles; let i = index">
        <!-- Vehículo -->
        <div>
          <input id="truck{{i+1}}" type="checkbox" name="truck{{i+1}}" (change)="onVehicleClick( i, $event )">
          <label for="truck{{i+1}}">
            <img [src]="truckDark" id="{{i+1}}" alt="icono de tipo de vehículo" class="icon">
          </label>
          <label for="truck{{i+1}}">{{vehicle.marca}} {{vehicle.modelo}} - {{vehicle.matricula}}</label>
        </div>
        <div>
          <!-- Seguimiento -->
          <img *ngIf="showMapPin[i]; else showMap" [src]="mapPinDark" id="map-pin{{(i+1)}}"
               alt="icono para hacer seguimiento en tiempo real" class="icon" (click)="onMapPinClick( true, i )">
          <ng-template #showMap>
            <img [src]="mapPinBlue" id="map-pin{{(i+1)}}" alt="icono para hacer seguimiento en tiempo real" class="icon"
                 (click)="onMapPinClick( false, i )">
          </ng-template>
          <!-- Conductor -->
          <img *ngIf="driverShow[i]; else showDriver" [src]="personDark" id="driver{{(i+1)}}"
               alt="icono de detalles del conductor" class="icon" (click)="onDriverClick( true, i )">
          <ng-template #showDriver>
            <img [src]="personBlue" id="driver{{(i+1)}}" alt="icono de detalles del conductor" class="icon"
                 (click)="onDriverClick( false, i )">
          </ng-template>
          <!-- Mantenimiento -->
          <img [src]="toolsDark" id="tools{{i+1}}" alt="icono de herramientas" class="icon"
               (click)="onMaintenanceClick()">
        </div>
    </ul>
    <ng-template #noVehicles>
      <p>No tienes vehículos registrados</p>
    </ng-template>
  </div>

  <!-- DETALLE DE VEHÍCULO -->

  <div class="table">
    <div *ngFor="let vehicle of vehiclesDetails; let i = index">
      <div *ngIf="showVehicleDetail[i]">
        <div class="headerTable">
          <h5>{{vehicle.marca}} {{vehicle.modelo}} - {{vehicle.matricula}}</h5>
        </div>
        <table>
          <thead>
          <tr>
            <th colspan="2">
              <label>Información del vehículo.</label>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="td1">
              <p>Id</p>
            </td>
            <td class="td2">
              <p>{{vehicle._id}}</p>
            </td>
          </tr>
          <tr>
            <td class="td1">
              <p>Id Dispositivo</p>
            </td>
            <td class="td2">
              <p>{{vehicle.idDispositivo}}</p>
            </td>
          </tr>
          <tr>
            <td class="td1">
              <p>Id Mantenimiento</p>
            </td>
            <td class="td2">
              <p>{{vehicle.idMantenimiento}}</p>
            </td>
          </tr>
          <tr>
            <td class="td1">
              <p>Tipo de Vehículo</p>
            </td>
            <td class="td2">
              <p>{{vehicle.tipoVehiculo}}</p>
            </td>
          </tr>
          <tr>
            <td class="td1">
              <p>Marca</p>
            </td>
            <td class="td2">
              <p>{{vehicle.marca}}</p>
            </td>
          </tr>
          <tr>
            <td class="td1">
              <p>Modelo</p>
            </td>
            <td class="td2">
              <p>{{vehicle.modelo}}</p>
            </td>
          </tr>
          <tr>
            <td class="td1">
              <p>Chasis</p>
            </td>
            <td class="td2">
              <p>{{vehicle.chasis}}</p>
            </td>
          </tr>
          <tr>
            <td class="td1">
              <p>Matrícula</p>
            </td>
            <td class="td2">
              <p>{{vehicle.matricula}}</p>
            </td>
          </tr>
          <tr>
            <td class="td1">
              <p>Fecha Alta</p>
            </td>
            <td class="td2">
              <p>{{vehicle.fechaAlta}}</p>
            </td>
          </tr>
          <tr>
            <td class="td1">
              <p>Kilometros Iniciales</p>
            </td>
            <td class="td2">
              <p>{{vehicle.kmIniciales}}</p>
            </td>
          </tr>
          <tr>
            <td class="td1">
              <p>Kilometros Actuales</p>
            </td>
            <td class="td2">
              <p>{{vehicle.kmActuales}}</p>
            </td>
          </tr>
          <tr>
            <td class="td1">
              <p>Estado</p>
            </td>
            <td class="td2">
              <p>{{vehicle.estado}}</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- DETALLES DE SEGUIMIENTO -->

  <div class="table">
    <div *ngIf="isPositionRecieved">
      <div class="headerTable">
        <h5> -- </h5>
      </div>
      <table>
        <thead>
        <tr>
          <th colspan="2">
            <label>Seguimiento en Tiempo Real.</label>
          </th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td class="td1">
              <p>Id Posición:</p>
            </td>
            <td class="td2">
              <p>{{positionMapPin._id}}</p>
            </td>
          </tr>
          <tr>
            <td class="td1">
              <p>Id Dispositivo:</p>
            </td>
            <td class="td2">
              <p>{{positionMapPin.id}}</p>
            </td>
          </tr>
          <tr>
            <td class="td1">
              <p>Longitud:</p>
            </td>
            <td class="td2">
              <p>{{positionMapPin.longitud}}</p>
            </td>
          </tr>
          <tr>
            <td class="td1">
              <p>Latitud:</p>
            </td>
            <td class="td2">
              <p>{{positionMapPin.latitud}}</p>
            </td>
          </tr>
          <tr>
            <td class="td1">
              <p>Velocidad:</p>
            </td>
            <td class="td2">
              <p>{{positionMapPin.velocidad}} kmph</p>
            </td>
          </tr>
          <tr>
            <td class="td1">
              <p>Fecha:</p>
            </td>
            <td class="td2">
              <p>{{positionMapPin.timestamp}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- DETALLE DE CONDUCTOR -->

  <div class="table">
    <div *ngFor="let driver of driversListFiltered">
      <div class="headerTable">
        <h5>{{driver.nombre}} ( {{driver.dni}} )</h5>
      </div>
      <table>
        <thead>
        <tr>
          <th colspan="2">
            <label>Información del conductor.</label>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="td1">
            <p>Id</p>
          </td>
          <td class="td2">
            <p>{{driver._id}}</p>
          </td>
        </tr>
        <tr>
          <td class="td1">
            <p>Dni</p>
          </td>
          <td class="td2">
            <p>{{driver.dni}}</p>
          </td>
        </tr>
        <tr>
          <td class="td1">
            <p>Fecha Alta</p>
          </td>
          <td class="td2">
            <p>{{driver.fechaAlta}}</p>
          </td>
        </tr>
        <tr>
          <td class="td1">
            <p>Fecha Permiso Circulación</p>
          </td>
          <td class="td2">
            <p>{{driver.fechaPermisoCirculacion}}</p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- DETALLE DE MANTENIMIENTO -->

  <div class="table" *ngIf="showMaintenanceDetail">
    <div> <!--    <div *ngFor="let vehicle of vehiclesDetails">-->
      <div class="headerTable">
        <h5>Información de Mantenimiento.</h5>
      </div>
      <table>
        <thead>
        <tr>
          <th colspan="2">
            <label>Cambio de Aceite.</label>
            <img [src]="arrowGray" class="icon" alt="icono">
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="td1">
            <p>key</p>
          </td>
          <td class="td2">
            <p>value</p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</aside>

