main {
  display: flex;
}

main app-aside-app {
  width: 40%;
}

main app-section-app {
  width: 60%;
}

@media screen and (max-width: 1024px) {

  main app-aside-app {
    width: 40%;
  }

  main app-section-app {
    width: 60%;
  }

}
