section {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
  position: relative;
}

h2, h3 {
  position: absolute;
  color: white;
}

.slogan1 {
  display: block;
}

.slogan2 {
  display: none;
}
