<!-- ROUTER LANDING -->

<router-outlet name="nav"></router-outlet>
<router-outlet name="hero"></router-outlet>
<router-outlet name="what-we-do"></router-outlet>
<router-outlet name="slogan-with-illustration"></router-outlet>
<router-outlet name="what-we-offer"></router-outlet>
<router-outlet name="slogan-with-illustration2"></router-outlet>
<router-outlet name="where-use"></router-outlet>
<router-outlet name="slogan-with-illustration3"></router-outlet>
<router-outlet name="contact-form"></router-outlet>
<router-outlet name="footer"></router-outlet>

<!-- ROUTER SIGNING -->

<router-outlet name="signing"></router-outlet>

<!-- ROUTER APP -->

<router-outlet name="nav-app"></router-outlet>
<router-outlet name="main-app"></router-outlet>
<router-outlet name="footer-app"></router-outlet>
