<section>

  <div class="row">
    <div class="col text-center mt-5">
      <h1>APLICACIONES</h1>
    </div>
  </div>

  <div class="container text-center mt-5">
    <div class="row mt-5">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" alt="imagen de portada para la tarjeta"
            src="https://images.unsplash.com/photo-1594771804886-a933bb2d609b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1482&q=80" />
          <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-tractor"></i> Sector Agricola</h5>
            <p class="card-text">Puedes consultar en cualquier momento dónde se encuentran sus vehiculos.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" alt="imagen de portada para la tarjeta"
               src="https://images.unsplash.com/photo-1594771804886-a933bb2d609b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1482&q=80" />
          <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-tractor"></i> Sector Agricola</h5>
            <p class="card-text">Puedes consultar en cualquier momento dónde se encuentran sus vehiculos.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" alt="imagen de portada para la tarjeta"
               src="https://images.unsplash.com/photo-1594771804886-a933bb2d609b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1482&q=80" />
          <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-tractor"></i> Sector Agricola</h5>
            <p class="card-text">Puedes consultar en cualquier momento dónde se encuentran sus vehiculos.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" alt="imagen de portada para la tarjeta"
               src="https://images.unsplash.com/photo-1594771804886-a933bb2d609b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1482&q=80" />
          <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-tractor"></i> Sector Agricola</h5>
            <p class="card-text">Puedes consultar en cualquier momento dónde se encuentran sus vehiculos.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" alt="imagen de portada para la tarjeta"
               src="https://images.unsplash.com/photo-1594771804886-a933bb2d609b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1482&q=80" />
          <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-tractor"></i> Sector Agricola</h5>
            <p class="card-text">Puedes consultar en cualquier momento dónde se encuentran sus vehiculos.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" alt="imagen de portada para la tarjeta"
               src="https://images.unsplash.com/photo-1594771804886-a933bb2d609b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1482&q=80" />
          <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-tractor"></i> Sector Agricola</h5>
            <p class="card-text">Puedes consultar en cualquier momento dónde se encuentran sus vehiculos.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>
