<section class="container text-center">

  <header>
    <h1 class="display-6">¿Que hace PRo Location para ti?</h1>
  </header>

  <article>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" alt="imagen de portada para la tarjeta"
           [src]="imageTractor"/>
      <div class="card-body">
        <h5 class="card-title"><i class="fa-solid fa-tractor"></i> <br>Soluciones Agrícolas</h5>
        <p class="card-text">Puedes consultar en cualquier momento dónde se encuentran sus vehiculos.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" alt="imagen de portada para la tarjeta"
           [src]="imageDelivery"/>
      <div class="card-body">
        <h5 class="card-title"><i class="fa-solid fa-truck-ramp-box"></i> <br>Soluciones para Repartos</h5>
        <p class="card-text">Puedes consultar en cualquier momento dónde se encuentran sus vehiculos.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" alt="imagen de portada para la tarjeta"
           [src]="imageMechanic"/>
      <div class="card-body">
        <h5 class="card-title"><i class="fa-solid fa-wrench"></i> <br>Gestiones Mecánicas.</h5>
        <p class="card-text">Puedes consultar en cualquier momento dónde se encuentran sus vehículos.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" alt="imagen de portada para la tarjeta"
           [src]="imageDrivingQuality"/>
      <div class="card-body">
        <h5 class="card-title"><i class="fa-solid fa-car"></i> <br>Control de Calidad de Conducción.</h5>
        <p class="card-text">Puedes consultar en cualquier momento dónde se encuentran sus vehículos.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" alt="imagen de portada para la tarjeta"
           [src]="imageAnalisys"/>
      <div class="card-body">
        <h5 class="card-title"><i class="fa-solid fa-car-side"></i> <br>Análisis de Conducción Eficiente.</h5>
        <p class="card-text">Puedes consultar en cualquier momento dónde se encuentran sus vehículos.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" alt="imagen de portada para la tarjeta"
           [src]="imageGps"/>
      <div class="card-body">
        <h5 class="card-title"><i class="fa-solid fa-location-dot"></i> <br>Seguimiento en Tiempo Real.</h5>
        <p class="card-text">Puedes consultar en cualquier momento dónde se encuentran sus vehiculos.</p>
      </div>
    </div>
  </article>

</section>
