main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#containerDivEmail {
  margin-top: 25px;
  margin-bottom: 25px;
}
#containerDivPassword {
  margin-bottom: 25px;
}

.card-footer {
  padding: 15px 15px;
}

.btn-primary {
  margin-right: 15px;
}
