<section class="container-fluid text-center mt-5">

  <header>
    <h3>¿Que Hace PRo Location para TÍ?</h3>
  </header>

  <article class="container-fluid text-center mt-5">

    <aside class="col">
      <img [src]="imageActive" alt="Imágen que muestra una demostración del texto que la acompaña"/>
    </aside>

    <aside class="col">
      <div class="list-group">
        <button type="button" id="button1" class="list-group-item list-group-item-action active" (click)="deleteClassActive(1)">
          1 Localizar al vehículo.
        </button>
        <button type="button" id="button2" class="list-group-item list-group-item-action" (click)="deleteClassActive(2)">
          2 Optimización de rutas.
        </button>
        <button type="button" id="button3" class="list-group-item list-group-item-action" (click)="deleteClassActive(3)">
          3 Gestionar la flota.
        </button>
        <button type="button" id="button4" class="list-group-item list-group-item-action" (click)="deleteClassActive(4)">
          4 Mantenimiento de Vehículos.
        </button>
      </div>
    </aside>

  </article>

</section>
